# Hide File in Directory
project/tester/amd64/*iso
project/tester/amd64/*iso.md5msum
project/tester/amd64/*iso.sha1sum
project/tester/amd64/*iso.sha2sum
project/tester/i386/*iso
project/tester/i386/*iso.md5msum
project/tester/i386/*iso.sha1sum
project/tester/i386/*iso.sha2sum
