# Ignore
unstable/amd64/signature.log                                  
unstable/amd64/*.iso.sha1sum.gpg
unstable/amd64/signature.sh                                   
unstable/amd64/*.iso.sha256sum
unstable/amd64/verify.sh                                      
unstable/amd64/*.iso.sha256sum.gpg
unstable/amd64/WGET.txt                                       
unstable/amd64/*.iso.sha3sum
unstable/amd64/*.iso              
unstable/amd64/*.iso.sha3sum.gpg
unstable/amd64/*.iso.gpg          
unstable/amd64/*.iso.sha512sum
unstable/amd64/*.iso.md5msum      
unstable/amd64/*.iso.sha512sum.gpg
unstable/amd64/*.iso.md5msum.gpg  
unstable/amd64/*.manifest
unstable/amd64/*.iso.sha1sum      
unstable/amd64/*.manifest.gpg

tester/amd64/signature.log                                  
tester/amd64/*.iso.sha1sum.gpg
tester/amd64/signature.sh                                   
tester/amd64/*.iso.sha256sum
tester/amd64/verify.sh                                      
tester/amd64/*.iso.sha256sum.gpg
tester/amd64/WGET.txt                                       
tester/amd64/*.iso.sha3sum
tester/amd64/*.iso              
tester/amd64/*.iso.sha3sum.gpg
tester/amd64/*.iso.gpg          
tester/amd64/*.iso.sha512sum
tester/amd64/*.iso.md5msum      
tester/amd64/*.iso.sha512sum.gpg
tester/amd64/*.iso.md5msum.gpg  
tester/amd64/*.manifest
tester/amd64/*.iso.sha1sum      
tester/amd64/*.manifest.gpg

release/amd64/signature.log                                  
release/amd64/*.iso.sha1sum.gpg
release/amd64/signature.sh                                   
release/amd64/*.iso.sha256sum
release/amd64/verify.sh                                      
release/amd64/*.iso.sha256sum.gpg
release/amd64/WGET.txt                                       
release/amd64/*.iso.sha3sum
release/amd64/*.iso              
release/amd64/*.iso.sha3sum.gpg
release/amd64/*.iso.gpg          
release/amd64/*.iso.sha512sum
release/amd64/*.iso.md5msum      
release/amd64/*.iso.sha512sum.gpg
release/amd64/*.iso.md5msum.gpg  
release/amd64/*.manifest
release/amd64/*.iso.sha1sum      
release/amd64/*.manifest.gpg

unstable/i386/signature.log                                  
unstable/i386/*.iso.sha1sum.gpg
unstable/i386/signature.sh                                   
unstable/i386/*.iso.sha256sum
unstable/i386/verify.sh                                      
unstable/i386/*.iso.sha256sum.gpg
unstable/i386/WGET.txt                                       
unstable/i386/*.iso.sha3sum
unstable/i386/*.iso              
unstable/i386/*.iso.sha3sum.gpg
unstable/i386/*.iso.gpg          
unstable/i386/*.iso.sha512sum
unstable/i386/*.iso.md5msum      
unstable/i386/*.iso.sha512sum.gpg
unstable/i386/*.iso.md5msum.gpg  
unstable/i386/*.manifest
unstable/i386/*.iso.sha1sum      
unstable/i386/*.manifest.gpg

tester/i386/signature.log                                  
tester/i386/*.iso.sha1sum.gpg
tester/i386/signature.sh                                   
tester/i386/*.iso.sha256sum
tester/i386/verify.sh                                      
tester/i386/*.iso.sha256sum.gpg
tester/i386/WGET.txt                                       
tester/i386/*.iso.sha3sum
tester/i386/*.iso              
tester/i386/*.iso.sha3sum.gpg
tester/i386/*.iso.gpg          
tester/i386/*.iso.sha512sum
tester/i386/*.iso.md5msum      
tester/i386/*.iso.sha512sum.gpg
tester/i386/*.iso.md5msum.gpg  
tester/i386/*.manifest
tester/i386/*.iso.sha1sum      
tester/i386/*.manifest.gpg

release/i386/signature.log                                  
release/i386/*.iso.sha1sum.gpg
release/i386/signature.sh                                   
release/i386/*.iso.sha256sum
release/i386/verify.sh                                      
release/i386/*.iso.sha256sum.gpg
release/i386/WGET.txt                                       
release/i386/*.iso.sha3sum
release/i386/*.iso              
release/i386/*.iso.sha3sum.gpg
release/i386/*.iso.gpg          
release/i386/*.iso.sha512sum
release/i386/*.iso.md5msum      
release/i386/*.iso.sha512sum.gpg
release/i386/*.iso.md5msum.gpg  
release/i386/*.manifest
release/i386/*.iso.sha1sum      
release/i386/*.manifest.gpg

